$color-background: #7275e0

html, body
  height: 100%
  font-family: 'Roboto', sans-serif
body
  height: calc(100% - 51px)
#navbar
  background: #403f3f
  border-color: #403f3f
  border-radius: 0
  margin-bottom: 0
  height: 56px
  line-height: 40px
  .navbar-collapse
    background: #403f3f
    border-color: #403f3f  
  .navbar-brand
    line-height: 50px
    padding-top: 0
    padding-bottom: 0
    font-size: 35px
    letter-spacing: 0.5px
    color: #ffe69c
    span:first-child
      color: #9ce7ff
    span:last-child
      color: #a1ff9c
  .navbar-brand:hover
    color: #9ce7ff
    span:first-child
      color: #a1ff9c
    span:last-child
      color: #ffe69c
#form-search
  button
    padding: 5px 12px
    border-radius: 0
    background: white
    color: #403f3f
    border: 1px solid white
    &:hover
      color: white
      background: $color-background
    span
      font-size: 20px
  input
    border: 1px solid white
    border-radius: 0
    height: 34px
    min-width: 300px
    &:focus
      border: 1px solid rgba(114, 117, 224, 0.5)
main
  height: calc(100% - 5px)
  margin-top: 51px
  #display-map
    height: 100%
    #map
      height: 100%
  #info-station
    z-index: 200
    position: absolute
    bottom: 7px
    left: 20px
    height: 50px
    min-width: 200px
    background: rgba(114, 117, 224, 0.5)
footer
  background: $color-background
  height: 5px

