$color-background: #7275e0

html, body
  height: 100%
  font-family: 'Roboto', sans-serif
body
  height: calc(100% - 51px)
#navbar
  background: #403f3f
  border-color: #403f3f
  border-radius: 0
  margin-bottom: 0
  height: 56px
  line-height: 40px
  .navbar-brand
    line-height: 50px
    padding-top: 0
    padding-bottom: 0
    font-size: 35px
    letter-spacing: 0.5px
    color: #ffe69c
    span:first-child
      color: #9ce7ff
    span:last-child
      color: #a1ff9c
  .navbar-brand:hover
    color: #9ce7ff
    span:first-child
      color: #a1ff9c
    span:last-child
      color: #ffe69c
#form-search
  position: absolute
  top: 62px
  left: 50%
  transform: translateX(-50%)
  z-index: 1000
  background: rgba(114, 117, 224, 0.6)
  padding: 10px 50px
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.4)
  button
    padding: 5px 12px
    border-radius: 0
    background: #403f3f
    color: white
    border: none
    &:hover
      color: #403f3f
      background: white
    span
      font-size: 20px
  input
    border: 1px solid #403f3f
    border-radius: 0
    margin-right: -3px
    height: 36px
    width: 140px
    &:focus
      min-width: 300px
main
  height: calc(100% - 5px)
  margin-top: 51px
  #map
    height: 100%
    #display-map
      height: 100%
footer
  background: $color-background
  color: #f3f3f3
  height: 5px

