<section id="details-list" class="bottom-50 {{showDetails}}">
    <div id="more-info" ng-controller="ButtonShowStationController">
        <button ng-click="moreStations()">More Stations</button>
    </div>
    <nav class="container-fluid hidden-info {{showInfo}}">
        
        <h1>guapo</h1>
    </nav>
</section>
<section id="display-map">
    <ng-map id="map" default-style="false" center="current-position" zoom="16">
        <div ng-repeat="station in vm.allStationsInfo | filter : { name : search}">
            <marker id="marker{{station.id}}" position="{{station.latitude}}, {{station.longitude}}" on-click="map.showInfoWindow('bar{{station.id}}')">
            </marker>
            <info-window id="bar{{station.id}}">
                <div class="">
                    <strong>{{station.name}}</strong>
                    <br> Bikes available: <strong>{{station.bikes}}</strong>
                    <br> Slots: <strong>{{station.slots}}</strong>
                </div>
            </info-window>
        </div>
    </ng-map>
</section>
