<section id="details-list" class="bottom-50 {{vm.showDetails}}">
    <div id="more-info">
        <button ng-click="vm.moreStations()">More Stations</button>
    </div>
    <nav class="container-fluid hidden-info {{vm.showInfo}}">
        <div>
            <div>
                <label for="stations-searcher">Search your station</label>
                <input type="text" name="stations-searcher" id="">
            </div>
            <div >
                <p>{{vm.allStationsInfo.length}} stations found</p>
            </div>
            <div>
            <ul class="list-unstyled list-group" id="listed-stations">
                <li class="panel panel-default" id="single-station"  ng-repeat="station in vm.allStationsInfo">
                    <div class="panel-heading">
                        <h5>
                            <a href="#!/details/{{station.id}}">{{station.name}}</a>
                            <a href="#!/details/{{station.id}}" class="pull-right glyphicon glyphicon-map-marker" ng-click=""></a>
                        </h5>
                    </div>
                    <div id="bikes-availability" class="panel-body">
                        <div class="col-xs-6 text-center"><strong ng-class="{{station.bikes}} ? 'btn btn-success' : 'btn btn-danger'"> {{station.bikes}}</strong> Bikes Available </div>
                        <div class="col-xs-6 text-center"><strong ng-class="{{station.slots}} ? 'btn btn-success' : 'btn btn-danger'"> {{station.slots}}</strong> Empty Slots</div>
                    </div>
                </li>
            </ul>
            </div>
        </div>
    </nav>
</section>

<section id="display-map">
    <ng-map id="map" default-style="false" center="current-location" zoom="16">
        <div ng-repeat="station in vm.allStationsInfo">
            <marker id="marker{{station.id}}" position="{{station.latitude}}, {{station.longitude}}" on-click="map.showInfoWindow('bar{{station.id}}')">
            </marker>
            <info-window id="bar{{station.id}}">
                <div class="">
                    <strong>{{station.name}}</strong>
                    <br> Bikes available: <strong>{{station.bikes}}</strong>
                    <br> Slots: <strong>{{station.slots}}</strong>
                </div>
            </info-window>
        </div>
    </ng-map>
</section>
