<section id="details-list" class="">
    <nav id="">
    </nav>
</section>
<section id="display-map" class="">
    <ng-map id="map" default-style="false" center="current-location" zoom="16">
        <div ng-repeat="station in vm.allStationsInfo">
            <marker id="marker{{station.id}}" position="{{station.latitude}}, {{station.longitude}}" on-click="map.showInfoWindow('bar{{station.id}}')">
            </marker>
            <info-window id="bar{{station.id}}">
                <div class="">
                    <strong>{{station.name}}</strong>
                    <br> Bikes available: <strong>{{station.bikes}}</strong>
                    <br> Slots: <strong>{{station.slots}}</strong>
                </div>
            </info-window>
        </div>
    </ng-map>
</section>
