<section id="details-list" class="bottom-50 {{vm.showDetails}}">
    <div id="more-info">
        <button ng-click="vm.moreStations()">More Stations</button>
    </div>
    <nav class="container-fluid hidden-info {{vm.showInfo}}">
        <!-- section -->
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis architecto aspernatur aliquid saepe necessitatibus expedita enim voluptates, quisquam placeat maxime quaerat, beatae deleniti amet earum eaque non, in quod voluptatibus.</div>
        <div>Cupiditate illo unde ut culpa magni ipsum quisquam tempore, mollitia vel pariatur id soluta! Commodi eos dolorum architecto, voluptas porro, ex earum illo excepturi labore. Neque incidunt voluptate veniam sapiente.</div>
        <div>Ullam rerum quis, dolor enim quos temporibus a quisquam assumenda inventore eveniet debitis eos et numquam in rem, sint cupiditate! Nam, libero! Ad architecto illum, consequatur quod aliquam, tenetur quos.</div>
        <div>Doloremque quos quidem, voluptatibus rem, ut sunt tenetur doloribus porro ab hic aperiam officia excepturi nam, ullam nobis fugiat asperiores facere autem minus dignissimos eligendi dolorem. Fugiat illum, porro esse?</div>
        <div>Reprehenderit, voluptates! Placeat, ab repellendus libero reprehenderit mollitia ducimus maxime nostrum, repudiandae blanditiis rem error explicabo quos animi neque quae beatae voluptas fuga ut in itaque sapiente fugiat dicta. Vitae.</div>
        <div>Tempora reprehenderit repellendus itaque reiciendis! Molestias ex, quos unde debitis nisi explicabo earum consequatur voluptatibus cumque, aliquid natus. In obcaecati itaque recusandae deleniti vitae amet aliquid fuga, consectetur ducimus ut.</div>
        <div>Sapiente assumenda eaque aspernatur! Perspiciatis voluptates at nostrum numquam adipisci cum odit odio laudantium doloremque nobis, dicta architecto voluptatem fugit quas. Aut placeat tempore nihil temporibus doloremque dolor velit. Ab!</div>
        <div>Ut quae ea ullam repudiandae repellat nihil libero, fugiat debitis nesciunt, soluta pariatur, quas aut obcaecati. Corrupti saepe reiciendis cum ipsum porro enim officia sequi. Sunt nihil dolorem natus esse?</div>
        <div>Fugiat voluptate delectus inventore recusandae esse vel mollitia vitae ratione quod soluta corrupti porro pariatur dignissimos veniam sequi aspernatur accusantium, in iure, quas culpa, labore, fugit hic? Quam, obcaecati, porro?</div>
        <div>Libero, sed voluptatibus quasi impedit aliquam voluptatum ducimus id quia repellat eligendi autem consectetur dolores, dolorem qui consequatur quis ea beatae quae rem voluptate esse modi perspiciatis laborum cumque ipsum.</div>
    </nav>
</section>
<section id="display-map">
    <ng-map id="map" default-style="false" center="current-location" zoom="16">
        <div ng-repeat="station in vm.allStationsInfo">
            <marker id="marker{{station.id}}" position="{{station.latitude}}, {{station.longitude}}" on-click="map.showInfoWindow('bar{{station.id}}')">
            </marker>
            <info-window id="bar{{station.id}}">
                <div class="">
                    <strong>{{station.name}}</strong>
                    <br> Bikes available: <strong>{{station.bikes}}</strong>
                    <br> Slots: <strong>{{station.slots}}</strong>
                </div>
            </info-window>
        </div>
    </ng-map>
</section>
