<div id="more-info" ng-controller="ButtonShowStationController">
    <button ng-click="moreStations()">{{toggleText}}</button>
</div>
<nav class="container-fluid hidden-info {{showInfo}}">
    <section id="filter-station">
        <div class="form-group">
            <label for="">Search a Stations</label>
            <input type="text" class="form-control" autofocus placeholder="Station..." ng-model="query">
        </div>
    </section>
    <div>
        <div>
            <p>{{vm.allStationsInfo.length}} stations found</p>
        </div>
        <div>
            <ul class="list-unstyled list-group" id="listed-stations">
                <li class="panel panel-default" id="single-station" ng-repeat="station in vm.allStationsInfo | filter : {name : query} | limitTo: vm.paginationLimit()">
                    <div class="panel-heading">
                        <h5>
                            <a href="#!/details/{{station.uid}}">{{station.name}}</a>
                            <a href="" class="pull-right glyphicon glyphicon-map-marker" ng-click="vm.centerStation(station.uid)"></a>
                        </h5>
                    </div>
                    <div id="bikes-availability" class="panel-body">
                        <div class="col-xs-6 text-center"><strong ng-class="{{station.bikes}} ? 'btn btn-success' : 'btn btn-danger'"> {{station.bikes}}</strong> Bikes Available </div>
                        <div class="col-xs-6 text-center"><strong ng-class="{{station.slots}} ? 'btn btn-success' : 'btn btn-danger'"> {{station.slots}}</strong> Empty Slots</div>
                    </div>
                </li>
            </ul>
            <button class="btn btn-large btn-block btn-info" ng-show="vm.hasMoreItemsToShow()" ng-click="vm.showMoreItems()">Show More Stations <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></button>
        </div>
    </div>
</nav>
